[submodule "operator/etcd-operator"]
	path = operator/etcd-operator
	url = https://github.com/coreos/etcd-operator
[submodule "prometheus"]
	path = prometheus
	url = https://github.com/bibinwilson/kubernetes-prometheus
